name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    # AJOUT IMPORTANT : Ceci définit le dossier de travail par défaut pour toutes les étapes 'run'
    defaults:
      run:
        working-directory: ./bank-application

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
        # On spécifie ici où se trouve le pom pour que le cache fonctionne bien
        cache-dependency-path: bank-application/pom.xml 

    # Plus besoin de faire 'cd', c'est automatique grâce à 'defaults' plus haut
    - name: Run Unit Tests
      run: mvn clean test

    - name: Package Application
      run: mvn package -DskipTests

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: bank-application-build
        # ATTENTION : L'action upload-artifact ne respecte pas le 'working-directory' par défaut.
        # Il faut lui donner le chemin complet depuis la racine.
        path: bank-application/target/
        retention-days: 1